<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">

        <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
            About Studio
        </h2>

        <div class="section-text mb-50 mb-sm-20">
            <div class="row">

                <div class="col-md-4">
                    <blockquote>
                        <p>The true entrepreneur is a doer, not a dreamer.</p>
                        <footer>
                            Nolan Bushnell
                        </footer>
                    </blockquote>
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h4>Mission</h4>
                    <p>
                        A group of professionals focused on providing quality and cutting edge solutions for
                        each of our clients
                    </p>
                </div>

                <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
                    <h4>Vision</h4>
                    <p>
                        Become a competitive corporate team in the market with a view to becoming an industry leader in
                        the technology market.
                    </p>
                </div>

            </div>
        </div>

        <!-- Team Section Sart -->
        <%- partial('team.ejs') %>
        <!-- Team Section End -->
    </div>
</section>
<!-- End About Section -->