<!-- Features Section -->
<section class="page-section">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Why Choose Us?
        </h2>

        <!-- Features Grid -->
        <div class="row multi-columns-row alt-features-grid">

            <% features.forEach(function(feature){ %>
            <!-- Features Item -->
            <div class="col-sm-6 col-md-4 col-lg-4">
                <div class="alt-features-item align-center">
                    <div class="alt-features-icon">
                        <span class='<%= feature.icon %>'></span>
                    </div>
                    <h3 class="alt-features-title font-alt"><%= feature.tittle %></h3>
                    <div class="alt-features-descr align-left"><%= feature.description %></div>
                </div>
            </div>
            <!-- End Features Item -->
            <% }); %>

        </div>
        <!-- End Features Grid -->

    </div>
</section>
<!-- End Features Section -->