<!-- Newsletter Section -->
<section class="small-section bg-gray-lighter">
    <div class="container relative">
        <div class="item-carousel">
            <% partners.forEach(function(partner, index){ %>
            <div class="col-sm-8 wow fadeInUp" data-wow-delay='1.<%= index %>s'>
                <div class="team-item">

                    <div class="team-item-image partner-image">

                        <img src="<%= partner.picture %>" alt="" />

                        <div class="team-item-detail no-padding">

                            <h4 class="font-alt normal"><%= partner.name %></h4>

                            <p>
                                <%= partner.description %>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
            <% }); %>
        </div>
    </div>
</section>
<!-- End Newsletter Section -->