<!-- About Section -->
<section class="page-section" id="products">
    <div class="container relative">

        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Products
        </h2>

        <!-- Section -->
        <section class="page-section">
            <div class="container relative">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tpl-alt-tabs font-alt pb-30 pb-sm-0">
                    <li class="active">
                        <a href="#appdetails" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-strategy"></span>
                            </div>

                            App Details
                        </a>
                    </li>
                    <li>
                        <a href="#apppricing" data-toggle="tab">

                            <div class="alt-tabs-icon">
                                <span class="icon-desktop"></span>
                            </div>

                            Pricing
                        </a>
                    </li>
                </ul>
                <!-- End Nav tabs -->
                <div class="tab-content tpl-tabs-cont">

                    <div class="tab-pane fade in active" id="appdetails">
                        <div class="row">

                            <div class="col-md-7 mb-sm-40">

                                <!-- Gallery -->
                                <div class="work-full-media mt-0 white-shadow">
                                    <ul class="clearlist work-full-slider owl-carousel">
                                        <li>
                                            <img src="images/portfolio/full-project-1.jpg" alt="" />
                                        </li>
                                        <li>
                                            <img src="images/portfolio/full-project-2.jpg" alt="" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Gallery -->

                            </div>

                            <div class="col-md-5 col-lg-4 col-lg-offset-1">



                                <!-- About Project -->
                                <div class="text">

                                    <h3 class="font-alt mb-30 mb-xxs-10">Warehouse App</h3>

                                    <p>
                                        Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor
                                        ut
                                        elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu
                                        sapien.
                                    </p>

                                    <div class="mt-40">
                                        <a href="#" class="btn btn-mod btn-border btn-round btn-medium"
                                            target="_blank">View
                                            online</a>
                                    </div>

                                </div>
                                <!-- End About Project -->

                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade in active" id="apppricing">
                        <div class="row">

                            <div class="col-md-7 mb-sm-40">

                                <!-- Gallery -->
                                <div class="work-full-media mt-0 white-shadow">
                                    <ul class="clearlist work-full-slider owl-carousel">
                                        <li>
                                            <img src="images/portfolio/full-project-1.jpg" alt="" />
                                        </li>
                                        <li>
                                            <img src="images/portfolio/full-project-2.jpg" alt="" />
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Gallery -->

                            </div>

                            <div class="col-md-5 col-lg-4 col-lg-offset-1">



                                <!-- About Project -->
                                <div class="text">

                                    <h3 class="font-alt mb-30 mb-xxs-10">Otra Vaina App</h3>

                                    <p>
                                        Phasellus facilisis mauris vel velit molestie pellentesque. Donec rutrum, tortor
                                        ut
                                        elementum venenatis, purus magna bibendum nisl, ut accumsan ipsum erat eu
                                        sapien.
                                    </p>

                                    <div class="mt-40">
                                        <a href="#" class="btn btn-mod btn-border btn-round btn-medium"
                                            target="_blank">View
                                            online</a>
                                    </div>

                                </div>
                                <!-- End About Project -->

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End Section -->
    </div>
</section>